<footer class="landing-page-footer">
	<div class="local-container-8">
		<div class='forms-logo'></div>
		<center>
			<p class="text-white">此应用程序是由<a href="https://github.com/mouadTaoussi"> Mouad Taoussi </a> </ p>创建的</a></p>
			<ul class="footer-list local-mt-4">
				<li class='footer-list-item'><a class="text-white" href='#'>服务条款</a></li>
				<li class='footer-list-item'><a class="text-white" href='/privacyPolicy?lang=cn'>隐私政策</a></li>
				<li class='footer-list-item'><a class="text-white" href='/privacyPolicy?lang=cn'>这个怎么运作？</a></li>
			</ul>
		</center>
	</div>
</footer>