<header class="landing-page-header">
	<div class="local-container-8 header-grid">

		<a href="/?lang=cn">
			<div class="header-brand"></div>
		</a>

		<ul class="header-list">
			<li class="header-list-item">
				<button class="local-btn" id="languageDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">中文<i class="fas fa-chevron-down mx-2"></i></button>
				<div class="dropdown-menu" aria-labelledby="languageDropDown">
					<a class="dropdown-item" href="/?lang=kr">한국어</a>
					<a class="dropdown-item" href="/">English</a>
				</div>
			</li>
			<li class="header-list-item">
				<a href="/login?lang=cn">
					<button class="local-btn" style="background: inherit;color: white">开始使用</button>
				</a>
			</li>
			<li class="header-list-item">
				<a href="/login?lang=cn">
					<button class="local-btn" style="background: inherit;color: white">登录</button>
				</a>
			</li>
			<li class="header-list-item">
				<a href="/register?lang=cn">
					<button class="local-btn" style="background: inherit;color: white">寄存器</button>
				</a>
			</li>
			<!-- <li class="header-list-item">
				<a href="/privacyPolicy?lang=cn">
					<button class="local-btn" style="background: inherit;color: white">这个怎么运作？</button>
				</a>
			</li> -->
			<li>
				<i class="hamburger-menu fas fa-bars text-white"></i>
			</li>
		</ul>
	</div>
	<!-- Smaller devices menu -->
	<div class="local-p-2 menu_content_for_smaller_devices border shadow un-scale" >	
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/register?lang=cn">寄存器</a>
		</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/login?lang=cn">登录</a>
		</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/privacyPolicy?lang=cn">这个怎么运作？</a>
			</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/?lang=en">English</a>
		</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/?lang=kr">한국어</a>
		</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/?lang=cn">中文</a>
		</p>
		<br>
	</div>
</header>