<div class="footer">
	<center>
		<ul class="footer-list">
			<li>About</li>
			<li>FAQ</li>
			<li><a href='/privacyPolicy?lang=cn' class="text-dark">How it works?</a></li>
			<li><a href='/privacyPolicy?lang=cn' class="text-dark">Privacy & Policy</a></li>
			<li><a href="/dashboard?lang=kr">한국어</a></li>
			<li><a href="/dashboard?lang=en">English</a></li>
		</ul>
	</center>
</div>
<style>
	.footer {
		background-color:  inherit;
	}
	.footer-list {
		color: rgba(0,0,0,.7);
		font-size: 12px;
	} 
	.footer-list li {
		margin: 10px;
		display: inline;
	}
</style>