<div class="footer">
	<center>
		<ul class="footer-list">
			<li>Home</li>
			<li>About</li>
			<li>FAQ</li>
			<li>How it works?</li>
			<li>Privacy & Policy</li>
			<li><a href="/dashboard?lang=kr">한국어</a></li>
			<li><a href="/dashboard?lang=cn">中文</a></li>
		</ul>
	</center>
</div>
<style>
	.footer {
		background-color:  inherit;
	}
	.footer-list {
		color: rgba(0,0,0,.7);
		font-size: 12px;
	} 
	.footer-list li {
		margin: 10px;
		display: inline;
	}
</style>