<header class="landing-page-header">
	<div class="local-container-8 header-grid">
		
		<a href="/?lang=en">
			<div class="header-brand header-logo-primary"></div>
		</a>

		<ul class="header-list">
			<li class="header-list-item">
				<button class="local-btn" id="languageDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">English<i class="fas fa-chevron-down mx-2"></i>
				</button>
				<div class="dropdown-menu" aria-labelledby="languageDropDown">
					<a class="dropdown-item" href="/?lang=kr">한국어</a>
					<a class="dropdown-item" href="/?lang=cn">中文</a>
				</div>
			</li>
			<li class="header-list-item">
				<a href="/login">
					<button class="local-btn">Get Started</button>
				</a>
			</li>
			<li class="header-list-item">
				<a href="/login">
					<button class="local-btn">Log in</button>
				</a>
			</li>
			<li class="header-list-item">
				<a href="/register">
					<button class="local-btn">Register</button>
				</a>
			</li>
			<!-- <li class="header-list-item">
				<a href="/privacyPolicy?lang=en">
					<button class="local-btn"style="background: inherit;color: white">How it works?</buttoN>
				</a>
			</li> -->
			<li>
				<i class="hamburger-menu fas fa-bars text-white"></i>
			</li>
		</ul>
	</div>
	<div class="local-p-2 menu_content_for_smaller_devices border shadow un-scale">	
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/register?lang=en">Register</a>
		</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/login?lang=en">Log in</a>
		</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/privacyPolicy?lang=en">How it works?</a>
		</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/?lang=en">English</a>
		</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/?lang=kr">한국어</a>
		</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/?lang=cn">中文</a>
		</p>
		<br>
	</div>
</header>
<style>
/*	.landing-page-header {
		background-color: white;
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

	}
	.header-brand {
		background-image: url('./logoLightBg.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain; 
		width: 180px;
		height: 30px;
	}
	.header-list {
	}
	.header-list-item a button {
		color: rgba(0,0,0,.9)!important;
		background-color: inherit;
	}*/
</style>
<script>
	window.setInterval(()=>{
	//Implement animation when in the home page
	if (window.location.pathname == "/" || window.location.pathname === "/privacyPolicy" || window.location.pathname === "/docs") {
		window.onscroll = ()=>{
			if (window.scrollY == 0 ){
				document.querySelector('.landing-page-header').style.backgroundColor = 'transparent';
				document.querySelector('.landing-page-header').style.boxShadow = '';
				// document.querySelector('.landing-page-header').style.transform = "all .2s ease-out";
				// document.querySelector('.landing-page-header').classList.remove('shadow');
				
				document.querySelector('.header-brand').classList.remove('header-logo-light');
				document.querySelector('.header-brand').classList.add('header-logo-primary');
				
				document.querySelectorAll('.header-list-item a button').forEach((item)=>{
					item.style.color = "white";
				})
			

			}else if ( window.scrollY > 600 ) {
				document.querySelector('.landing-page-header').style.backgroundColor = 'white';
				document.querySelector('.landing-page-header').style.boxShadow = '0 0.5rem 1rem rgba(0, 0, 0, 0.15)';
				// document.querySelector('.landing-page-header').classList.add('shadow');
				
				document.querySelector('.header-brand').classList.add('header-logo-light');
				document.querySelector('.header-brand').classList.remove('header-logo-primary');
				
				document.querySelectorAll('.header-list-item a button').forEach((item)=>{
					item.style.color = "black";
				})
			}
		}
	}
	// Dont implement it 
	else if (window.location.pathname == "/login" || window.location.pathname == "/register" || window.location.pathname == "/resetPassword" )  {
		return;
	
	}else {
		return;
	}
},10)
</script>