<header class="landing-page-header">
	<div class="local-container-8 header-grid">
		
		<a href="/?lang=en">
			<div class="header-brand"></div>
		</a>

		<ul class="header-list">
			<li class="header-list-item">
				<button class="local-btn" id="languageDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">	English<i class="fas fa-chevron-down mx-2"></i>
				</button>
				<div class="dropdown-menu" aria-labelledby="languageDropDown">
					<a class="dropdown-item" href="/?lang=kr">한국어</a>
					<a class="dropdown-item" href="/?lang=cn">中文</a>
				</div>
			</li>
			<li class="header-list-item">
				<a href="/login">
					<button class="local-btn" style="background: inherit;color: white">Get Started</button>
				</a>
			</li>
			<li class="header-list-item">
				<a href="/login">
					<button class="local-btn" style="background: inherit;color: white">Log in</button>
				</a>
			</li>
			<li class="header-list-item">
				<a href="/register">
					<button class="local-btn" style="background: inherit;color: white">Register</button>
				</a>
			</li>
			<!-- <li class="header-list-item">
				<a href="/privacyPolicy?lang=en">
					<button class="local-btn"style="background: inherit;color: white">How it works?</buttoN>
				</a>
			</li> -->
			<li>
				<i class="hamburger-menu fas fa-bars text-white"></i>
			</li>
		</ul>
	</div>
	<div class="local-p-2 menu_content_for_smaller_devices border shadow un-scale">	
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/register?lang=en">Register</a>
		</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/login?lang=en">Log in</a>
		</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/privacyPolicy?lang=en">How it works?</a>
		</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/?lang=en">English</a>
		</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/?lang=kr">한국어</a>
		</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/?lang=cn">中文</a>
		</p>
		<br>
	</div>
</header>