<header class="landing-page-header">
	<div class="local-container-8 header-grid">

		<a href="/?lang=kr">
			<div class="header-brand header-logo-light"></div>
		</a>

		<ul class="header-list">
			<li class="header-list-item">
				<button class="local-btn" id="languageDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">한국어<i class="fas fa-chevron-down mx-2"></i></button>
				<div class="dropdown-menu" aria-labelledby="languageDropDown">
					<a class="dropdown-item" href="/?lang=en">English</a>
					<a class="dropdown-item" href="/?lang=cn">中文</a>
				</div>
			</li>
			<li class="header-list-item">
				<a href="/login?lang=kr">
					<button class="local-btn" style="">시작하다</button>
				</a>
			</li>
			<li class="header-list-item">
				<a href="/login?lang=kr">
					<button class="local-btn" style="">로그인</button>
				</a>
			</li>
			<li class="header-list-item">
				<a href="/register?lang=kr">
					<button class="local-btn" style="">레지스터</button>
				</a>
			</li>
			<!-- <li class="header-list-item">
				<a href="/privacyPolicy?lang=kr">
					<button class="local-btn" style="">어떻게 작동합니까?</button>
				</a>
			</li> -->
			<li>
				<i class="hamburger-menu fas fa-bars text-white"></i>
			</li>
		</ul>
	</div>
	<div class="local-p-2 menu_content_for_smaller_devices border shadow un-scale">	
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/register?lang=kr">레지스터</a>
		</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/login?lang=kr">로그인</a>
		</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/privacyPolicy?lang=kr">어떻게 작동합니까?</a>
		</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/?lang=en">English</a>
		</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/?lang=kr">한국어</a>
		</p>
		<br>
		<p class="menu-sd-item text-dark">
			<a class="text-dark" href="/?lang=cn">中文</a>
		</p>
		<br>
	</div>
</header>
<script>
	window.setInterval(()=>{
	//Implement animation when in the home page
	if (window.location.pathname == "/" || window.location.pathname === "/privacyPolicy" || window.location.pathname === "/docs") {
		window.onscroll = ()=>{
			if (window.scrollY == 0 ){
				document.querySelector('.landing-page-header').style.backgroundColor = 'transparent';
				document.querySelector('.landing-page-header').style.boxShadow = '';
				// document.querySelector('.landing-page-header').style.transform = "all .2s ease-out";
				// document.querySelector('.landing-page-header').classList.remove('shadow');
				
				document.querySelector('.header-brand').classList.remove('header-logo-light');
				document.querySelector('.header-brand').classList.add('header-logo-primary');
				
				document.querySelectorAll('.header-list-item a button').forEach((item)=>{
					item.style.color = "white";
				})
			

			}else if ( window.scrollY > 600 ) {
				document.querySelector('.landing-page-header').style.backgroundColor = 'white';
				document.querySelector('.landing-page-header').style.boxShadow = '0 0.5rem 1rem rgba(0, 0, 0, 0.15)';
				// document.querySelector('.landing-page-header').classList.add('shadow');
				
				document.querySelector('.header-brand').classList.add('header-logo-light');
				document.querySelector('.header-brand').classList.remove('header-logo-primary');
				
				document.querySelectorAll('.header-list-item a button').forEach((item)=>{
					item.style.color = "black";
				})
			}
		}
	}
	// Dont implement it 
	else if (window.location.pathname == "/login" || window.location.pathname == "/register" || window.location.pathname == "/resetPassword" )  {
		return;
	
	}else {
		return;
	}
},10)
</script>