<header class="landing-page-header">
	<div class="local-container-8 header-grid">

		<a href="/?lang=kr">
			<div class="header-brand"></div>
		</a>

		<ul class="header-list">
			<li class="header-list-item">
				<button class="local-btn" id="languageDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">한국어<i class="fas fa-chevron-down mx-2"></i></button>
				<div class="dropdown-menu" aria-labelledby="languageDropDown">
					<a class="dropdown-item" href="/?lang=en">English</a>
					<a class="dropdown-item" href="/?lang=cn">中文</a>
				</div>
			</li>
			<li class="header-list-item">
				<a href="/login?lang=kr">
					<button class="local-btn" style="background: inherit;color: white">시작하다</button>
				</a>
			</li>
			<li class="header-list-item">
				<a href="/login?lang=kr">
					<button class="local-btn" style="background: inherit;color: white">로그인</button>
				</a>
			</li>
			<li class="header-list-item">
				<a href="/register?lang=kr">
					<button class="local-btn" style="background: inherit;color: white">레지스터</button>
				</a>
			</li>
			<li class="header-list-item">
				<a href="/privacyPolicy?lang=kr">
					<button class="local-btn" style="background: inherit;color: white">어떻게 작동합니까?</button>
				</a>
			</li>
			<li>
				<i class="hamburger-menu fas fa-bars text-white"></i>
			</li>
		</ul>
	</div>
	<div 
	class="local-p-2 menu_content_for_smaller_devices" 
	style="
		display: none;
		position: absolute; 
		transition: all 0.2s ease-out 0s; 
		top: 50px; 
		margin: 10px;"
	>	
	<h class="text-white"><a class="text-white" href="/register?lang=kr">레지스터</a></h><br>
	<h class="text-white"><a class="text-white" href="/login?lang=kr">로그인</a></h><br>
	<h class="text-white"><a class="text-white" href="/privacyPolicy?lang=kr">어떻게 작동합니까?</a></h><br>
	<h class="text-white"><a class="text-white" href="/?lang=en">English</a></h><br>
	<h class="text-white"><a class="text-white" href="/?lang=kr">한국어</a></h><br>
	<h class="text-white"><a class="text-white" href="/?lang=cn">中文</a></h><br>
</div>
</header>