<div class="single-question local-card local-mt-2 local-p-2 shadow" draggable='true'>
<!-- Dragable section -->
<div class="dragable">
	<div></div><div></div><div></div>
	<div></div><div></div><div></div>
</div>
<!-- Quetsion or title -->
<!-- Which question you wanna write here -->
<input 
	class="form-control mt-2" 
	placeholder='Type your question'
	value="How you knew SurveyApp service?" 
	required
>
<!-- Options -->
<div style='width: 50%' class="options-area">
	<ul class="options-list">
		
		<li class="option-item">
			<input 
				type="text" 
				placeholder="Option" 
				class="form-control" 
				required 
				value="Github"
			>
			<i onclick="deleteOption(event)" class="delete-option fas fa-times"></i>
		</li>
		<li class="option-item">
			<input 
				type="text" 
				placeholder="Option" 
				class="form-control" 
				required 
				value="By accident"
			>
			<i onclick="deleteOption(event)" class="delete-option fas fa-times"></i>
		</li>
		<li class="option-item">
			<input 
				type="text" 
				placeholder="Option" 
				class="form-control" 
				required 
				value="By someone"
			>
			<i onclick="deleteOption(event)" class="delete-option fas fa-times"></i>
		</li>
		
	</ul>
	<p class="add-new-option btn btn-warning btn-sm">Add new one +</p>
</div>
<!-- Settings -->
<div class="question_settings p-2">
	<i 
	onclick="" 
	style="display: inline" 
	class="delete-field mx-2 far fa-trash-alt"></i>
	<select style="display: inline;width: 180px;" class='mx-2 form-control'>
		<option selected>MultipleChoice</option>
		<option>OneChoice</option>
		<option>ShortParagraph</option>
	</select>
</div>
</div>