@import url('./design.system.css');
@import url('./colors.css');
@import url('./fonts.css');
@import url('./mediaqueries.css');


body {
	background-color: /**white**/var(--light);
	color: var(--dark);
}
h1,h2,h3,h5,h6 {
	/*font-family: 'Cabin', sans-serif;*/
	font-family: 'Poppins', sans-serif;
	/*font-family: 'Ubuntu', sans-serif;*/
}

.svg-one {
	background-image: url('.././assets/undraw_my_password_d6kg.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
}
.svg-second {
	background-image: url('.././assets/undraw_secure_login_pdn4.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 	
}
.svg-error-for-o-for {
	background-image: url('.././assets/undraw_page_not_found_su7k.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
}
.svg-error-five-o-o {
	background-image: url('.././assets/undraw_server_down_s4lk.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
}