@import url('./design.system.css');
@import url('./colors.css');
@import url('./fonts.css');
@import url('./mediaqueries.css');


body {
	background-color: /**white**/var(--light);
	color: var(--dark);
}
h1,h2,h3,h5,h6 {
	/*font-family: 'Cabin', sans-serif;*/
	font-family: 'Poppins', sans-serif;
	/*font-family: 'Ubuntu', sans-serif;*/
}

.svg-one {
	background-image: url('.././assets/undraw_my_password_d6kg.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
}
.svg-second {
	background-image: url('.././assets/undraw_secure_login_pdn4.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 	
}
.svg-error-for-o-for {
	background-image: url('.././assets/undraw_page_not_found_su7k.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
}
.svg-error-five-o-o {
	background-image: url('.././assets/undraw_server_down_s4lk.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
}
.svg-thankyou {
	background-image: url('.././assets/undraw_blooming_jtv6.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
}
.header-logo {
	background-image: url('.././assets/logoPrimaryBg.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
	width: 190px;
	height: 30px;
	margin-top: 2px;
}
.forms-logo {
	background-image: url('.././assets/logoLightBg.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
	width: 240px;
	height: 60px;
	margin: 50px auto;
}
/**
*
*
* Change password
*
*
**/
.changePassword {
	margin-top: 40px;
	width: 30%;
	margin:0 auto;
	padding: 35px;
	height: auto;
	z-index: 999;
}
.changePassword-btn, .google-btn, .github-btn, .linkedin-btn {
	width: 100%;
}
.google-btn {
	background-color: #d74937;
	color: white;
}
.github-btn {
	background-color: #24292e;
	color: white;
}
.linkedin-btn {
	background-color: #0074b0;
	color: white;
}
.footer-list {
	list-style: none;
}
.footer-list-item {
	display: inline;
	color: var(--dark);
	padding: 8px;
}
.links {
	font-size: 12px;
}
.form-control {
	border-radius: 0;
}
.svgs {
	width: 100%;
	height: 400px;
	z-index: -1;
	/*position: absolute;*/
	bottom : -80px;
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-column-gap: 120px;
	position: fixed;
}
.svg {
}
/**
*
*
* Dashboard
*
*
**/
.dashboard-content {
	display: grid;
	grid-template-columns: 1fr 3.5fr;
	grid-gap: 20px;
}
.user-profile-inputs {
	background-color: inherit;
}
.options-area {
	width: 20%;
}

/**
*
*
* Embedded page
*
*
**/
.embedded-content {
	/*width:*/

}
.footer-list {
	list-style: none;
	padding-left: 0;
}
.footer-list-item {
	display: inline;
	color: var(--dark);
	padding-right: 8px;
}
/**
*
*
* FiveOO && ForOFor
*
*
**/
.error-page-content {
	display: grid;
	grid-template-columns: 5fr 5fr;
	grid-gap: 50px;
	height: 50%;
	margin-top: 40px;
}
.text-area {
	padding-top: 30%;
	height: 400px;
}
/**
*
*
* Index
*
*
**/
/**
*
*
* Login
*
*
**/
.login {
	margin-top: 40px;
	width: 30%;
	margin:0 auto;
	padding: 35px;
	height: auto;
	z-index: 999;
}
.login-btn, .google-btn, .github-btn, .linkedin-btn {
	width: 100%;
}
.google-btn {
	background-color: #d74937;
	color: white;
}
.github-btn {
	background-color: #24292e;
	color: white;
}
.linkedin-btn {
	background-color: #0074b0;
	color: white;
}
.footer-list {
	list-style: none;
}
.footer-list-item {
	display: inline;
	color: var(--dark);
	padding: 8px;
}
.links {
	font-size: 12px;
}
.form-control {
	border-radius: 0;
}
.svgs {
	width: 100%;
	height: 400px;
	z-index: -1;
	/*position: absolute;*/
	bottom : -80px;
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-column-gap: 120px;
	position: fixed;
}
.svg {
}
/**
*
*
* Register
*
*
**/
.register {
	margin-top: 40px;
	width: 30%;
	margin:0 auto;
	padding: 35px;
	height: auto;
	z-index: 999;
}
.register-btn, .google-btn, .github-btn, .linkedin-btn {
	width: 100%;
}
.google-btn {
	background-color: #d74937;
	color: white;
}
.github-btn {
	background-color: #24292e;
	color: white;
}
.linkedin-btn {
	background-color: #0074b0;
	color: white;
}
.footer-list {
	list-style: none;
}
.footer-list-item {
	display: inline;
	color: var(--dark);
	padding: 8px;
}
.links {
	font-size: 12px;
}
.form-control {
	border-radius: 0;
}
.svgs {
	width: 100%;
	height: 400px;
	z-index: -1;
	position: absolute;
	bottom : -80px;
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-column-gap: 120px;
	position: fixed;
}
.svg {
}
/**
*
*
* Reset Password
*
*
**/
.resetPassword {
	margin-top: 40px;
	width: 30%;
	margin:0 auto;
	padding: 35px;
	height: auto;
	z-index: 999;
}
.resetPassword-btn, .google-btn, .github-btn, .linkedin-btn {
	width: 100%;
}
.google-btn {
	background-color: #d74937;
	color: white;
}
.github-btn {
	background-color: #24292e;
	color: white;
}
.linkedin-btn {
	background-color: #0074b0;
	color: white;
}
.footer-list {
	list-style: none;
}
.footer-list-item {
	display: inline;
	color: var(--dark);
	padding: 8px;
}
.links {
	font-size: 12px;
}
.form-control {
	border-radius: 0;
}
.svgs {
	width: 100%;
	height: 400px;
	z-index: -1;
	/*position: absolute;*/
	bottom : -80px;
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-column-gap: 120px;
	position: fixed;
}
.svg {
}
/**
*
*
* Submit Survey Response
*
*
**/
.options-area {
	width: 20%;
}
/**
*
*
* Survey Editor
*
*
**/
.survey-editor {
	display: grid;grid-template-columns: 11fr 1fr;grid-gap: 30px;display:  ;
}
.tools-panel {
	width: 50px!important;
	background-color: white;
	height: auto;
	position: fixed;
}
.tools-list {
	padding-left: 0;
	list-style: none;
}
.tools-list li {
	margin: 3px 3px 3px 3px;
	/*background-color: red;*/
	border-radius: 43%;
	padding: 5px;
	width: 27px;
	height: 27px;
	transition: all .2s ease-out ; 
}
.tools-list li:hover {
	background-color: rgba(0,0,0,.2)
}
.responses {
	display: none;
}
.chart-area {
	width: 50%;height: 72%;margin: 0 auto;
}
.modal {
	border-radius: 0!important;
}
.options-list {
	list-style: none;
	padding-left: 0!important;
}
.option-item, .files-attachment {
	margin-top:5px;
}
.option-item {
	display: inline-flex!important;
}
.question_settings {
	width: 300px;
	height: 50px;
	background-color: rgba(0,0,0,.1);
}
.add-new-option {
	font-size:13px;
	width: 50%;
	cursor: pointer;
	transition: all .2 ease-out;
}
.add-new-option:hover {
	background-color: rgba(0,0,0,.1);
}
.delete-option, delete-field {
	transition: all .2 ease-out;
	border-radius: 40%;	
	cursor: pointer;
	padding: 8px;
}
.delete-option:hover,delete-field:hover {
	background-color: rgba(0,0,0,.1);
}
.dragable {
	display: grid;
	grid-gap: 2px;
	grid-template-columns: 3px 3px 3px;
	width: 30px;
	height: 10px;
	margin: 0 auto;
	cursor: move;
}
.dragable div {
	background-color: rgba(0,0,0,.3);
}
.single-question {
	border: 2px solid rgba(0,0,0,0);
}
.hovered {
	border: 2px solid rgba(0,0,0,.9);
}
.replace {
	border: 2px solid rgba(0,0,0,.7);
	/*background-color: rgba(0,0,0,.1);		*/
}
.dragging {
	
}
/**
*
*
* Thank you
*
*
**/
.thankyou-page-content {
	display: grid;
	grid-template-columns: 5fr 5fr;
	grid-gap: 50px;
	height: 50%;
	margin-top: 40px;
}
.text-area {
	padding-top: 25%;
	height: 400px;
}