@import url('./design.system.css');
@import url('./colors.css');
@import url('./fonts.css');

/* dynamic alert message */
.side-alert-message {
	position: absolute;
	color: white;
	font-family: 'Cabin';
	z-index: 999;
	border-radius: 3px;
	width: 300px;
	position: fixed;
	right: -320px;
	padding: 10px;
	transition: all .4s ease-out;
}
.display-none {
	display: none;
}
.display-block {
	display: block;	
}

body {
	background-color: #f7f7f7;
	color: var(--dark);
}
h1,h2,h3,h5,h6 {
	/*font-family: 'Cabin', sans-serif;*/
	font-family: 'Poppins', sans-serif;
	/*font-family: 'Ubuntu', sans-serif;*/
}

.header-brand {
	position: absolute;
	left: 50px;
}
.svg-one {
	background-image: url('.././assets/undraw_my_password_d6kg.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
}
.svg-second {
	background-image: url('.././assets/undraw_secure_login_pdn4.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 	
}
.svg-error-for-o-for {
	background-image: url('.././assets/undraw_page_not_found_su7k.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
}
.svg-error-five-o-o {
	background-image: url('.././assets/undraw_server_down_s4lk.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
}
.svg-thankyou {
	background-image: url('.././assets/undraw_blooming_jtv6.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
}
.header-logo {
	background-image: url('.././assets/logoPrimaryBg.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
	width: 190px;
	height: 30px;
	margin-top: 2px;
}
.header-brand {
	background-image: url('.././assets/logoPrimaryBg.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
	width: 180px;
	height: 30px;
}
.forms-logo {
	background-image: url('.././assets/logoLightBg.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
	width: 240px;
	height: 60px;
	margin: 50px auto;

}
.landing-page-cards-logo {
	background-image: url('.././assets/logoLightBg.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
	width: 240px;
	height: 60px;
	margin: 25px 0 25px 0;
}
.empty-content {
	background-image: url('.././assets/undraw_empty_xct9.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
	width: 400px;
	height: 400px;
	margin: 50px auto;
}
.empty-content {
	background-image: url('.././assets/undraw_empty_xct9.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
	width: 400px;
	height: 400px;
	margin: 50px auto;
}
.empty-content {
	background-image: url('.././assets/undraw_empty_xct9.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
	width: 400px;
	height: 400px;
	margin: 50px auto;
}
.card-data {
	background-image: url('.././assets/undraw_all_the_data_h4ki.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
	margin: 0px auto;
	height: 250px;
}
.card-data-trends {
	background-image: url('.././assets/undraw_data_trends_b0wg.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
	margin: 0px auto;
	height: 250px;
}
.card-data-segmentation {
	background-image: url('.././assets/undraw_Segmentation_re_gduq.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
	margin: 0px auto;
	height: 250px;
}

/**
*
*
*
* Index & Privacy Policy
*
*
*
**/
.menu_content_for_smaller_devices {
	background: #fbfbfb;
	display: block;
	/*position: absolute; */
	transition: all 0.2s ease-out 0s; 
	/*top: 50px;*/
	width: 90%;
	border-radius: 3px; 
	margin: 10px auto!important;
	padding: 15px;
	transition: all .3s ease-out;
}
.menu-sd-item {
	margin: 10px 0px 10px 10px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}
.scale {
	transform: scaleY(1);
	transform-origin:  -42% 133%;
} 
.un-scale {
	transform: scaleY(0);
	transform-origin:  -42% 133%;
}
/**
*
*
* Change password
*
*
**/
.changePassword {
	margin-top: 40px;
	width: 30%;
	margin:0 auto;
	padding: 35px;
	height: auto;
	z-index: 1;
}
.changePassword-btn, .google-btn, .github-btn, .linkedin-btn {
	width: 100%;
}
.google-btn {
	background-color: #d74937;
	color: white;
}
.github-btn {
	background-color: #24292e;
	color: white;
}
.linkedin-btn {
	background-color: #0074b0;
	color: white;
}
.footer-list {
	list-style: none;
}
.footer-list-item {
	display: inline;
	color: var(--dark);
	padding: 8px;
}
.links {
	font-size: 12px;
}
.form-control {
	border-radius: 0;
}
.svgs {
	width: 100%;
	height: 400px;
	z-index: -1;
	/*position: absolute;*/
	bottom : -80px;
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-column-gap: 120px;
	position: fixed;
}
.svg {
}
/**
*
*
* Dashboard & Header
*
*
**/
.dashboard-content {
	display: grid;
	grid-template-columns: 1fr 3.5fr;
	grid-gap: 20px;
}
.user-profile-inputs {
	background-color: inherit;
}
.avatar-input {
	background-color: white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: .4px solid rgba(0,0,0,.20);
	position: absolute;
	top: 230px;
	left: 190px;
}
.options-area {
	width: 70%;
}
/* whenever user scrolls down, the list group will stick at the top by 0*/
.list-group-dashboard {
	position: sticky;
	top: 20px;
}
.dashboard-rows {
	display: grid;
	grid-template-columns: 1.5fr 5fr;
	grid-gap: 20px;
}
.dashboard-row-content {
	position: relative;
}
#survey-cards {
	display: none;
}
/**
*
*
* Embedded page
*
*
**/
.embedded-content {
	/*width:*/

}
.footer-list {
	list-style: none;
	padding-left: 0;
}
.footer-list-item {
	display: inline;
	color: var(--dark);
	padding-right: 8px;
}
/**
*
*
* FiveOO && ForOFor
*
*
**/
.error-page-content {
	display: grid;
	grid-template-columns: 5fr 5fr;
	grid-gap: 50px;
	height: 50%;
	margin-top: 40px;
}
.text-area {
	padding-top: 30%;
	height: 400px;
}
/**
*
*
* Index (Home Page)
*
*
**/
#login-in-homepage {
	width: 100%;margin-top: 100px;
}
.landing-page {
	background-image: url('.././assets/Background.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; 
	/*background-attachment: fixed;*/
}
.show-app {
	background-image: url('.././assets/AppViewInBrowser.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
}
.svg-background-second-landing-page {
	/*background-image: url('.././assets/Background.svg');*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; 
	padding: 5px 0 5px 0;
}
.svg-background-third-landing-page {
	/*background-image: url('.././assets/Background.svg');*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; 
	padding: 5px 0 5px 0;
}
.svg-background-fourth-landing-page {
	/*background: #1554a7;*/
	background-image: url('.././assets/secondBackground.svg');
	background-repeat: no-repeat;
	background-position: center;
	height: 600px;
	background-size: cover; 
	padding: 5px 0 5px 0;
}
.svg-background-fifth-landing-page {

}
.svg-background-sixth-landing-page {

}
:root {
	--margin-between-landing-pages : 60px;
}
.first-landing-page {
	display:  grid;
	grid-template-columns: 2fr 2fr 2fr;
	grid-column-gap: 20px;
	margin : var(--margin-between-landing-pages) auto var(--margin-between-landing-pages) auto;
}
.second-landing-page,
.third-landing-page
{
	display:  grid;
	grid-template-columns: 2fr 2fr;
	grid-column-gap: 30px;
	margin : var(--margin-between-landing-pages) auto var(--margin-between-landing-pages) auto;

}
.fourth-landing-page,
.fifth-landing-page,
.sixth-landing-page,
.faq-landing-page {
	margin : var(--margin-between-landing-pages) auto var(--margin-between-landing-pages) auto;
}

.services {
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-gap: 20px;
}
.service {
	background-color: #326ce5;
	height: 300px;
}
.service-1 {
	background-color: #e535ab /* GraphQL Color */;
	height: 300px;
}
.service-1 , .service {
	display: grid;
	grid-template-columns: .5fr 1fr;
	align-items: center;
	padding: 20px;
}
.kbt-logo, .graphql-logo {
	width: 70%;
	height: 70%;
}
.landing-page-header {
	z-index: 999;
	height: 70px;
	background-color: var(--primary)/*#1554a7*/;
	position: fixed;
	width: 100%;
	transition: all .2s ease-out; 

}.header-list {
	list-style: none;
}
.header-list-item {
	display: inline;
	float: right;
	font-weight: 500;
}
.hamburger-menu {
	position: absolute;
	top : 26px;
	display: none!important;
}
.header-grid {
	display: grid;
	height: 100%;
	padding-top: 17px;
	grid-template-columns: 1.8fr 2.2fr;
	grid-gap: 20px;
}
.content {
	display: grid;
	grid-template-columns: 2.5fr 1.5fr;
	grid-gap: 30px;
}
.text-area, .show-app {
	height: 100vh;
}

.main-title {
	color: white;
	animation-name: title;
	animation-duration: 1.5s;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	transition: all .2s ease-out;
}
.description {
	color: white;
}
@keyframes title {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 5;
	}
	100% {
		opacity: 100;
	}
}
.faq-landing-page {
	/*background-color: black;*/
	width: 100%;
	height: auto;
}
/* content */
.faq-row {
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-gap: 20px;
}
/* Question */
.faqs div {

}
.landing-page-footer {
	height: auto;
	width: 100%;
	padding: 20px;
}
/**
*
*
* Login
*
*
**/
.login {
	margin-top: 40px;
	width: 30%;
	margin:0 auto;
	padding: 35px;
	height: auto;
	z-index: 1;
}
.login-btn, .google-btn, .github-btn, .linkedin-btn {
	width: 100%;
}
.google-btn {
	background-color: #d74937;
	color: white;
}
.github-btn {
	background-color: #24292e;
	color: white;
}
.linkedin-btn {
	background-color: #0074b0;
	color: white;
}
.footer-list {
	list-style: none;
}
.footer-list-item {
	display: inline;
	color: var(--dark);
	padding: 8px;
}
.links {
	font-size: 12px;
}
.form-control {
	border-radius: 0;
}
.svgs {
	width: 100%;
	height: 400px;
	z-index: -1;
	/*position: absolute;*/
	bottom : -80px;
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-column-gap: 120px;
	position: fixed;
}
.svg {
}
/**
*
*
* Register
*
*
**/
.register {
	margin-top: 40px;
	width: 30%;
	margin:0 auto;
	padding: 35px;
	height: auto;
	z-index: 1;
}
.register-btn, .google-btn, .github-btn, .linkedin-btn {
	width: 100%;
}
.google-btn {
	background-color: #d74937;
	color: white;
}
.github-btn {
	background-color: #24292e;
	color: white;
}
.linkedin-btn {
	background-color: #0074b0;
	color: white;
}
.footer-list {
	list-style: none;
}
.footer-list-item {
	display: inline;
	color: var(--dark);
	padding: 8px;
}
.links {
	font-size: 12px;
}
.form-control {
	border-radius: 0;
}
.svgs {
	width: 100%;
	height: 400px;
	z-index: -1;
	position: absolute;
	bottom : -80px;
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-column-gap: 120px;
	position: fixed;
}
.svg {
}
/**
*
*
* Reset Password
*
*
**/
.resetPassword {
	margin-top: 40px;
	width: 30%;
	margin:0 auto;
	padding: 35px;
	height: auto;
	z-index: 1;
}
.resetPassword-btn, .google-btn, .github-btn, .linkedin-btn {
	width: 100%;
}
.google-btn {
	background-color: #d74937;
	color: white;
}
.github-btn {
	background-color: #24292e;
	color: white;
}
.linkedin-btn {
	background-color: #0074b0;
	color: white;
}
.footer-list {
	list-style: none;
}
.footer-list-item {
	display: inline;
	color: var(--dark);
	padding: 8px;
}
.links {
	font-size: 12px;
}
.form-control {
	border-radius: 0;
}
.svgs {
	width: 100%;
	height: 400px;
	z-index: -1;
	/*position: absolute;*/
	bottom : -80px;
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-column-gap: 120px;
	position: fixed;
}
.svg {
}
/**
*
*
* Submit Survey Response
*
*
**/
.options-area {
	width: 20%;
}
/**
*
*
* Survey Editor
*
*
**/
.survey-editor {
	display: grid;grid-template-columns: 11fr 1fr;grid-gap: 30px;display:  ;
}
.tools-panel {
	width: 50px!important;
	background-color: white;
	height: auto;
	position: fixed;
}
.tools-list {
	padding-left: 0;
	list-style: none;
}
.tools-list li {
	margin: 3px 3px 3px 3px;
	/*background-color: red;*/
	border-radius: 43%;
	padding: 5px;
	width: 27px;
	height: 27px;
	transition: all .2s ease-out ; 
}
.tools-list li:hover {
	background-color: rgba(0,0,0,.2)
}
.responses {
	display: none;
}
.chart-area {
	width: 50%;height: 72%;margin: 0 auto;
}
.modal {
	border-radius: 0!important;
}
.options-list {
	list-style: none;
	padding-left: 0!important;
}
.option-item, .files-attachment {
	margin-top:5px;
}
.option-item {
	display: inline-flex!important;
}
.question_settings {
	width: 300px;
	height: 50px;
	background-color: #eff1f7;
}
.add-new-option {
	font-size:13px;
	width: 90%;
	cursor: pointer;
	transition: all .2 ease-out;
}
.add-new-option:hover {
	background-color: rgba(0,0,0,.1);
}
.delete-option, delete-field {
	transition: all .2 ease-out;
	border-radius: 40%;	
	cursor: pointer;
	padding: 8px;
}
.delete-option:hover,delete-field:hover {
	background-color: rgba(0,0,0,.1);
}
.dragable {
	display: grid;
	grid-gap: 2px;
	grid-template-columns: 3px 3px 3px;
	width: 30px;
	height: 10px;
	margin: 0 auto;
	cursor: move;
}
.dragable div {
	background-color: rgba(0,0,0,.3);
}
.single-question {
	border: 2px solid rgba(0,0,0,0);
}
.hovered {
	border: 2px solid rgba(0,0,0,.9);
}
.replace {
	border: 2px solid rgba(0,0,0,.7);
	/*background-color: rgba(0,0,0,.1);		*/
}
.dragging {
	
}
.survey-title {
	font-size: 30px;
	font-family: 'Cabin'
}
.survey-description {
	height: 220px;
}
#tools-panel-smaller-devices {
	background: white;
	position: sticky;
	top: 0;
	/*z-index: 999;*/
	display: none;
}
.tool-item-sd {
	display: inline;
}
/**
*
*
* Thank you
*
*
**/
.thankyou-page-content {
	display: grid;
	grid-template-columns: 5fr 5fr;
	grid-gap: 50px;
	height: 50%;
	margin-top: 40px;
}
.text-area {
	padding-top: 25%;
	height: 400px;
}
/**
*
*
* Privacy & Policy && How it works?
*
*
**/
.how-it-works-content,
.privacy-content {
	margin-top: 40px;
}


/*//////////////////////////////////////*/
@media only screen and (max-width: 800px){
	.local-shadow {
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1)/*, 0 3px 10px 0 rgba(0, 0, 0, 0.19)**/;
	}
	/**
	*
	*
	* Change password
	*
	*
	**/
	.changePassword {
		width: 90%;
	}
	.changePassword {
		width: 70%;
	}
	.svgs {
		display: none;
	}
	/**
	*
	*
	* Dashboard & Header
	*
	*
	**/
	.list-menu {
		display: none;
	}
	/*.header-grid {
		grid-template-columns: 1fr;
	}*/
	.header-logo {
		margin-top: 5px;
		width: 170px;
		height: 23px;
		display: none;
	}
	#hamburger-menu {
		margin-top: 5px!important;
		display: block;
	}
	.dashboard-rows {
  		display: grid;
  		grid-template-columns: 100%;
  		grid-gap: 20px;
  	}	
  	#surveys-table {
  		display: none;
  	}
  	#survey-cards {
  		display: block;
  	}
  	#survey-card {
  		position: relative;
  	}
  	#survey-card-manu {
  		position: absolute;
  		top: 15px;
  		right: 15px;
  		cursor: pointer;
  	}
  	.survey-card-dropdown {
  		position: absolute;
  		right: 15px;
  		top: 30px;
  		width: 100px;
  		background:white;
  		z-index: 999;
  	}
	/**
	*
	*
	* Embedded page
	*
	*
	**/
	/**
	*
	*
	* FiveOO && ForOFor
	*
	*
	**/
	/**
	*
	*
	* Index
	*
	*
	**/
	#login-in-homepage {
		margin-top: 0px;
	}
	.first-landing-page {
		grid-template-columns: 2fr;
		grid-column-gap: 20px;
		margin : 40px auto 40px auto;
	}
	.second-landing-page,
	.third-landing-page
	{
		grid-template-columns: 2fr;
		grid-column-gap: 20px;
		margin : 40px auto 40px auto;

	}
	.fourth-landing-page ,
	.fifth-landing-page ,
	.sixth-landing-page {
		margin : 40px auto 40px auto;
	}
	.services {
		grid-template-columns: 2fr;
	}
	.header-grid {
		padding-top: 17px;
		grid-template-columns: 4fr .5fr;
		grid-gap: 20px;
	}
	.hamburger-menu {
		display: block!important;
	}
	.header-list-item {
		display: none;
	}
	.content {
		display: grid;
		grid-template-columns: 2fr;
		grid-gap: 10px;
	}
	.text-area, .show-app {
		height: 300px;
	}
	.title-area {
		text-align: center;
		font-size: 30px!important;
	}
	.description {
		font-size: 12px;
		text-align: center;
	}
	.landing-page-btns {
		margin: 0 auto;
	}
	.landing-page-cards-logo {
		display: none;
	}
	/**
	*
	*
	* Login
	*
	*
	**/
	.login {
		width: 100%;
		height: 100vh;
	}
	.svgs {
		display: none;
	}
	.forms-logo {
		display: none;
	}
	/**
	*
	*
	* Register
	*
	*
	**/
	.register {
		width: 100%!important;
		height: auto;	
	}
	/**
	*
	*
	* Reset Password
	*
	*
	**/
	.resetPassword {
		width: 100%!important;
		height: 100vh;	

	}
	/**
	*
	*
	* Survey Editor
	*
	*
	**/
	.form-control {
		border:0px;
		border-bottom: .2px solid rgba(0,0,0,.2);
	}
	.survey-title {
		font-size: 20px;
	}
	.options-area {
		width: 100%;
	}
	.btn-save-changes {
		width: 100%;
	}
	.survey-editor-tools {
		display: none;
	}
	.survey-editor {
		display: block;
	}
	#tools-panel-smaller-devices {
		display: block!important;
	}
	#survey_id {
		display: none;
	}
	.response-question, .response-question-type {
		font-size: 15px;
	}
}


@media only screen and (max-width: 600px){
	.header-brand {
		position: absolute;
		left: -5px;
	}
	/**
	*
	*
	* Index
	*
	*
	**/
	.first-landing-page {
		grid-template-columns: 2fr;
		grid-column-gap: 20px;
		margin : 40px auto 40px auto;
	}
	.second-landing-page,
	.third-landing-page
	{
		grid-template-columns: 2fr;
		grid-column-gap: 20px;
		margin : 40px auto 40px auto;

	}
	.fourth-landing-page ,
	.fifth-landing-page ,
	.sixth-landing-page {
		margin : 40px auto 40px auto;
	}
	.services {
		grid-template-columns: 2fr;
	}
	.header-grid {
		padding-top: 17px;
		grid-template-columns: 4fr .5fr;
		grid-gap: 20px;
	}
	.header-list-item {
		display: none;
	}
	.hamburger-menu {
		display: block!important;
	}
	.content {
		display: grid;
		grid-template-columns: 2fr;
		grid-gap: 10px;
	}
	.text-area, .show-app {
		height: 300px;
	}
	.title-area {
		text-align: center;
		font-size: 30px!important;
	}
	.description {
		font-size: 12px;
		text-align: center;
	}
	.landing-page-btns {
		margin: 0 auto;
	}
	/**
	*
	*
	* Error page
	*
	*
	**/
	.error-page-content {
		grid-template-columns: 5fr;
		grid-gap: 30px;
	}
	/**
	*
	*
	* Register
	*
	*
	**/
	.register {
		width: 70%;
	}
	.svgs {
		display: none;
	}
	/**
	*
	*
	* Reset Password
	*
	*
	**/
	.resetPassword {
		width: 70%;
	}
	.svgs {
		display: none;
	}
	.local-container-4 {
		width: 95%;
	}
	/**
	*
	*
	* Survey Editor
	*
	*
	**/
	.chart-area {
			width: 100%;height: 100%;margin: 0 auto;
	}
	/**
	*
	*
	* Thank you
	*
	*
	**/
	.thankyou-page-content {
		grid-template-columns: 5fr;
		grid-gap: 30px;
	}
}