<!DOCTYPE html>
<html>
<head>
	<title>错误！</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<%- include('.././partials/partials_cn/dynamic/header',{avatar:user.avatar}) %>
<div class="local-container-8">
	<div class="error-page-content">
		<div class="text-area">
			<h1 class="text-left"><strong>我对你有个坏消息！！！</strong></h1>
			<h5 class="text-left">可能在我们的服务器中发生了一些事情！！！</h5>
		</div>
		<div class="svg-error-five-o-o"></div>
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
