<!DOCTYPE html>
<html>
<head>
	<title>Log in</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<div class="">

	<a href="/">
		<div class='forms-logo'></div>
	</a>
	<div class="login local-card shadow">
		<a href="/">
			<div class='forms-logo forms-logo-sd'></div>
		</a>
		<style>
			.forms-logo-sd {
				width: 110px;
				margin: 0;
				display: none;
			}
			@media only screen and (max-width: 800px) {
				.forms-logo-sd {
					display: block;
				}	
			}
		</style>
		<h1 class='title local-mb-8'>Log in</h1>
		<% if(errMessage != null) { %>
			<div class='local-alert danger'><%= errMessage %></div>
		<% } %>
		<form action="/auth/login" method="POST">
			<input type="email" name="email" class="form-control local-mt-2" placeholder="Enter your Email" required autofocus>
			<input type="password" name="password" class="form-control local-mt-2" placeholder="Enter your Password" required>
			<input type="submit" value="Log in" class="local-btn register-btn local-mt-2 local-btn-primary">
		</form>
		<a href='/resetPassword' class="mt-2 links">forgot your password?</a>
		<a href='/register' class="mt-2 links float-right">have no account?</a>
		<p class="text-center">Or:</p>
		<a href='/auth/google'>
			<button href="/" class="local-btn local-mt-2 google-btn"><i class="fab fa-google mr-2 text-white"></i>Log in with Google</button>
		</a>
		<a href="/auth/github">
			<button class="local-btn local-mt-2 github-btn"><i class="fab fa-github mr-2 text-white"></i>Log in with Github</button>
		</a>
		<a href='/auth/linkedin'>
			<button class="local-btn local-mt-2 linkedin-btn"><i class="fab fa-linkedin mr-2 text-white"></i>Log in with Linkedin</button>
		</a>
	</div>
	<center>
		<ul class="footer-list local-mt-4">
			<li class='footer-list-item'><a href='/'>Home page</li>
			<li class='footer-list-item'><a href='/privacyPolicy'>Privacy & policy</a></li>
			<li class='footer-list-item'><a href='/docs'>API</a></li>
		</ul>
	</center>
	<div class="svgs">
		<div class="svg svg-one"></div>
		<div class="svg svg-second"></div>
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
