<!DOCTYPE html>
<html>
<head>
	<title>Survey App | Privacy & Policy</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body style='background-color: white;'>
	<!-- <h1>it works!</h1> -->
	<%-   include('.././partials/partials_en/static/header')   %>
	<!-- ----------------------------- Privacy && Policy ----------------------------- -->
	<div class="container container-privacy">
		<!-- brs -->
		<br>
		<br>
		<!-- brs -->
		<!-- brs -->
		<br>
		<br>
		<!-- brs -->
		<!-- brs -->
		<br>
		<br>
		<!-- brs -->
		<h1 class="text-left">Privacy Policy</h1>
		<!-- brs -->
		<br>
		<!-- brs -->
		<h4 class="text-left">What we collect about you?</h4>
		<p class="text-left">
		For us we get your full name and username and email that indentify you during the utilisation of SurveyApp. 
		For users who registered with one of the Oauth solutions (Google-Github-Linkedin Accounts) We ask you what data we are going to collect if you granted us the permission the following credentials:
		<br>
		<br>
		<strong>-ID:</strong> Your account ID that the provider uses to identify<br>
		<strong>-Name:</strong> Your name that you use in the service<br>
		<strong>-Full name:</strong> Your first & last name separately<br>
		<strong>-Email</strong>: Your Email to send any potenial notification as well as keeping your account owned by You if you forgot your password<br>
		<strong>-Avatar:</strong> Your profile picture that you use<br>
		<strong>-provider:</strong> The Account you have used logged in (Google-Linkedin-Github)<br>

		</p>
		<!-- brs -->
		<br>
		<!-- <br> -->
		<h4 class="text-left">How we use your data?</h4>
		<p class="text-left">
			Your data are used to identify you in the app as well as your email in case of reset password email & announcements about new features. for and signups using third partie services such as google; linkedin; github we collect your ID; full name; username; email; avater image to create an account for you in SurveyApp.

			Your surveys are kept private, while no one could read or pull them, also the responses are strictly private, your surveys and responses are not used for activites except those are yours
		</p>
		<!-- brs -->
		<br>
		<br>

		<!-- brs -->
		<!-- brs -->
		<h4 class="text-left">where your data is stored?</h4>
		<p class="text-left">
		Your data stored using mongodb database (mongodb Atlas) and our database exists on Amazon web service.
		</p>
		<!-- brs -->
		<br>
		<br>
		<!-- brs -->
		<h4 class="text-left">Is your data safe?</h4>
		<p class="text-left">
		Short anwser is Yes, because if you see left of the url section above, you gonna see a small lock that means that this app uses HTTPS, so all of the application requests goes by the HTTPS Tunnel! so all of them are encypted,
		</p>
	</div>
	<!-- brs -->
	<br>
	<br>
	<!-- brs -->
	<%-  include('.././partials/partials_en/static/mainFooter.ejs')  %>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
<style>
	
</style>