<!DOCTYPE html>
<html>
<head>
	<title>오류!</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<%- include('.././partials/partials_kr/dynamic/header',{avatar:user.avatar}) %>
<div class="local-container-8">
	<div class="error-page-content">
		<div class="text-area">
			<h1 class="text-left"><strong>I have a bad news for you!!!</strong></h1>
			<h5 class="text-left">Might be you asked for a wrong page or it is no longer exists!!!</h5>
		</div>
		<div class="svg-error-for-o-for"></div>
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>