<!DOCTYPE html>
<html>
<head>
	<title>Survey App | 개인 정보 정책</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body style='background-color: white;'>
	<!-- <h1>it works!</h1> -->
	<%-   include('.././partials/partials_kr/static/header')   %>
	<!-- ----------------------------- Privacy && Policy ----------------------------- -->
	<div class="container container-privacy">
		<!-- brs -->
		<br>
		<br>
		<!-- brs -->
		<!-- brs -->
		<br>
		<br>
		<!-- brs -->
		<!-- brs -->
		<br>
		<br>
		<!-- brs -->
		<h1 class="text-left">개인정보 보호정책</h1>
		<!-- brs -->
		<br>
		<!-- brs -->
		<h4 class="text-left">귀하에 대해 수집하는 정보는 무엇입니까?</h4>
		<p class="텍스트 왼쪽">
		SurveyApp을 사용하는 동안 귀하를 식별할 수 있는 귀하의 전체 이름, 사용자 이름 및 이메일을 받습니다.
		Oauth 솔루션(Google-Github-Linkedin 계정) 중 하나에 등록한 사용자의 경우 다음 자격 증명에 대한 권한을 부여한 경우 수집할 데이터가 무엇인지 묻습니다.
		<br>
		<br>
		<strong>-ID:</strong> 제공업체가 식별하는 데 사용하는 계정 ID<br>
		<strong>-이름:</strong> 서비스에서 사용하는 귀하의 이름<br>
		<strong>-성명:</strong> 귀하의 성과 이름을 별도로<br>
		<strong>-이메일</strong>: 비밀번호를 잊어버린 경우 잠재적인 알림을 보내고 계정을 계속 소유할 수 있는 이메일<br>
		<strong>-아바타:</strong> 사용하는 프로필 사진<br>
		<strong>-provider:</strong> 로그인한 계정(Google-Linkedin-Github)<br>

		</p>
		<!-- brs -->
		<br>
		<!-- <br> -->
		<h4 class="text-left">귀하의 데이터를 어떻게 사용합니까?</h4>
		<p class="텍스트 왼쪽">
		귀하의 데이터는 비밀번호 재설정 이메일 및 새로운 기능에 대한 공지의 경우 이메일과 앱에서 귀하를 식별하는 데 사용됩니다. 구글과 같은 제3자 서비스에 대한 가입 및 가입 링크드인; github에서 귀하의 ID를 수집합니다. 성명; 사용자 이름; 이메일; avater 이미지를 사용하여 SurveyApp에서 계정을 만드세요.

		귀하의 설문조사는 비공개로 유지되며 아무도 읽거나 가져올 수 없으며 응답도 엄격하게 비공개되며 귀하의 설문조사 및 응답은 귀하의 것을 제외하고는 활동에 사용되지 않습니다.
		</p>
		<!-- brs -->
		<br>
		<br>

		<!-- brs -->
		<!-- brs -->
		<h4 class="text-left">데이터는 어디에 저장되나요?</h4>
		<p class="텍스트 왼쪽">
		mongodb 데이터베이스(mongodb Atlas)를 사용하여 저장된 데이터와 당사 데이터베이스는 Amazon 웹 서비스에 존재합니다.
		</p>
		<!-- brs -->
		<br>
		<br>
		<!-- brs -->
		<h4 class="text-left">데이터는 안전한가요?</h4>
		<p class="텍스트 왼쪽">
		짧은 답변은 예입니다. 위의 url 섹션 왼쪽을 보면 이 앱이 HTTPS를 사용하므로 모든 애플리케이션 요청이 HTTPS 터널을 통과한다는 작은 잠금이 표시되기 때문입니다! 그래서 그들 모두는 암호화되어 있습니다.
		</p>
	</div>
	<%-  include('.././partials/partials_kr/static/mainFooter.ejs')  %>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
<style>
	@media only screen and (max-width: 600px){
		.first-landing-page {
			grid-template-columns: 2fr;
			grid-column-gap: 20px;
			margin : 40px auto 40px auto;
		}
		.second-landing-page,
		.third-landing-page
		{
			grid-template-columns: 2fr;
			grid-column-gap: 20px;
			margin : 40px auto 40px auto;

		}
		.fourth-landing-page ,
		.fifth-landing-page ,
		.sixth-landing-page {
			margin : 40px auto 40px auto;
		}
		.services {
			grid-template-columns: 2fr;
		}
		.header-list {
			display: none;
		}
		.content {
			display: grid;
			grid-template-columns: 2fr;
			grid-gap: 10px;
		}
		.text-area, .show-app {
			height: 300px;
		}
		.title-area {
			text-align: center;
			font-size: 30px!important;
		}
		.description {
			font-size: 12px;
			text-align: center;
		}
		.landing-page-btns {
			margin: 0 auto;
		}
	}
</style>