<!DOCTYPE html>
<html>
<head>
	<title>레지스터</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<div class="">

	<a href="/?lang=kr">
		<div class='forms-logo'></div>
	</a>

	<div class="register local-card shadow">
		<a href="/?lang=en">
			<div class='forms-logo forms-logo-sd'></div>
		</a>
		<style>
			.forms-logo-sd {
				width: 110px;
				margin: 0;
				display: none;
			}
			@media only screen and (max-width: 800px) {
				.forms-logo-sd {
					display: block;
				}	
			}
		</style>
		<h1 class='title local-mb-8'>레지스터</h1>
		<% if(errMessage != null) { %>
			<div class='local-alert danger'><%= errMessage %></div>
		<% } %>
		<form action="/auth/register?lang=kr" method="POST">
			<input type="text" name="firstName" class="form-control local-mt-2" placeholder="이름을 입력하세요" required autofocus>
			<input type="text" name="givenName" class="form-control local-mt-2" placeholder="가족 이름을 입력하십시오" required>
			<input type="text" name="username" class="form-control local-mt-2" placeholder="사용자 이름을 입력하십시오" required>
			<input type="email" name="email" class="form-control local-mt-2" placeholder="이메일을 입력하십시오" required>
			<input type="password" name="password" class="form-control local-mt-2" placeholder="비밀번호를 입력하십시오" required>
			<input type="password" name="password2" class="form-control local-mt-2" placeholder="암호를 확인" required>
			<input type="submit" value="레지스터" class="local-btn register-btn local-mt-2 local-btn-primary">
		</form>
		<a href='/login?lang=kr' class="mt-2 links">이미 계정이 있습니까?</a>
		<p class="text-center">또는:</p>
		<a href='/auth/google'>
			<button class="local-btn local-mt-2 google-btn"><i class="fab fa-google mr-2 text-white"></i>Google로 로그인</button>
		</a>
		<a href="/auth/github">
			<button class="local-btn local-mt-2 github-btn"><i class="fab fa-github mr-2 text-white"></i>Github로 로그인</button>
		</a>
		<a href='/auth/linkedin'>
			<button class="local-btn local-mt-2 linkedin-btn"><i class="fab fa-linkedin mr-2 text-white"></i>링크드 인으로 로그인</button>
		</a>
	</div>
	<center>
		<ul class="footer-list local-mt-4">
			<li class='footer-list-item'>서비스 약관</li>
			<li class='footer-list-item'><a href="/privacyPolicy?lang=kr">개인 정보 정책</a></li>
			<li class='footer-list-item'><a href="/privacyPolicy?lang=kr">어떻게 작동합?</a></li>
		</ul>
	</center>
	<div class="svgs">
		<div class="svg svg-one"></div>
		<div class="svg svg-second"></div>
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
<!-- /*no*/ -->