<!DOCTYPE html>
<html>
<head>
	<title>오류!</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<%- include('.././partials/koreanHeaderElement',{avatar:user.avatar}) %>
<div class="local-container-8">
	<div class="error-page-content">
		<div class="text-area">
			<h1 class="text-left"><strong>나는 당신에게 나쁜 소식이 있습니다!</strong></h1>
			<h5 class="text-left">서버에 무슨 일이 생길 수도 있습니다 !!!</h5>
		</div>
		<div class="svg-error-five-o-o"></div>
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>

