<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<%- include('.././partials/HeaderElement') %>
<div class="local-container-4">
	<h1>Dashboard</h1>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>