<!DOCTYPE html>
<html>
<head>
	<title>Survey App | Docs</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body style='background-color: white;'>
	<!-- <h1>it works!</h1> -->
	<%-   include('.././partials/HomePage&PrivacyHeader')   %>
	<!-- ----------------------------- Privacy && Policy ----------------------------- -->
	<div class="local-container-4 privacy">
		<h1 style='padding-top: 150px;'><strong class="local-text-black">API reference</strong></h1>
	</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
<style>
	
</style>