<!DOCTYPE html>
<html>
<head>
	<title>Embedded Page</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<div class="local-container-2">
	<div class="desc local-card local-p-2">
		<h2 clas="text-left">A questions about programming!!!</h2>
		<p clas="text-left">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
		<a href="localhost:8080/submitResponse" target="_blank">
			<button class="local-btn local-btn-primary">Open in page</button>
		</a>
		<ul class="footer-list local-mt-4">
			<li class='footer-list-item'>Terms of service</li>
			<li class='footer-list-item'>Privacy & policy</li>
			<li class='footer-list-item'>How it works?</li>
		</ul>
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
<style>
	.embedded-content {
		/*width:*/

	}
	.footer-list {
		list-style: none;
		padding-left: 0;
	}
	.footer-list-item {
		display: inline;
		color: var(--dark);
		padding-right: 8px;
	}
</style>