<!DOCTYPE html>
<html>
<head>
	<title>Embedded Page</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<div class="local-container-4">
	<h1>Embedded Page</h1>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>