<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<%-include('.././partials/HeaderElement', {avatar:user.avatar})%>
<div class="local-container-8">
	<div class="error-page-content">
		<div class="text-area">
			<h1 class="text-left"><strong>I have a bad news for you!!!</strong></h1>
			<h5 class="text-left">Might be there is something happen in our server!!!</h5>
		</div>
		<div class="svg-error-five-o-o"></div>
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>


