<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<%- include('.././partials/HeaderElement') %>
<div class="local-container-8">
	<h1>I have a bad news for you!!!</h1>
	<h5>40000000000004</h5>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>