<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<div class="">

	<a href="/?lang=en">
		<div class='forms-logo'></div>
	</a>

	<div class="register local-card shadow">
		<a href="/?lang=en">
			<div class='forms-logo forms-logo-sd'></div>
		</a>
		<style>
			.forms-logo-sd {
				width: 110px;
				margin: 0;
				display: none;
			}
			@media only screen and (max-width: 800px) {
				.forms-logo-sd {
					display: block;
				}	
			}
		</style>
		<h1 class='title local-mb-8'>Register</h1>
		<% if(errMessage != null) { %>
			<div class='local-alert danger'><%= errMessage %></div>
		<% } %>
		<form action="/auth/register?lang=en" method="POST">
			<input type="text" name="firstName" class="form-control local-mt-2" placeholder="Enter your First Name" required autofocus>
			<input type="text" name="givenName" class="form-control local-mt-2" placeholder="Enter your Family Name" required>
			<input type="text" name="username" class="form-control local-mt-2" placeholder="Enter your username" required>
			<input type="email" name="email" class="form-control local-mt-2" placeholder="Enter your email" required>
			<input type="password" name="password" class="form-control local-mt-2" placeholder="Enter your Password" required>
			<input type="password" name="password2" class="form-control local-mt-2" placeholder="Confirm your Password" required>
			<input type="submit" value="Register" class="local-btn register-btn local-mt-2 local-btn-primary">
		</form>
		<a href='/login' class="mt-2 links">already have an account?</a>
		<p class="text-center">Or:</p>
		<a href='/auth/google'>
			<button href="/" class="local-btn local-mt-2 google-btn"><i class="fab fa-google mr-2 text-white"></i>Log in with Google</button>
		</a>
		<a href="/auth/github">
			<button class="local-btn local-mt-2 github-btn"><i class="fab fa-github mr-2 text-white"></i>Log in with Github</button>
		</a>
		<a href='/auth/linkedin'>
			<button class="local-btn local-mt-2 linkedin-btn"><i class="fab fa-linkedin mr-2 text-white"></i>Log in with Linkedin</button>
		</a>
	</div>
	<center>
		<ul class="footer-list local-mt-4">
			<li class='footer-list-item'>Terms of service</li>
			<li class='footer-list-item'><a href='/privacyPolicy?lang=en'>Privacy & policy</li>
			<li class='footer-list-item'><a href='/privacyPolicy?lang=en'>How it works?</li>
		</ul>
	</center>
	<div class="svgs">
		<div class="svg svg-one"></div>
		<div class="svg svg-second"></div>
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>


<!--/*no*/-->