<!DOCTYPE html>
<html>
<head>
	<title>Reset Password</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<h1>Reset Password</h1>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>