<!DOCTYPE html>
<html>
<head>
	<title>Report of your survey</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
	<i class="responsesNumber badge success text-white" style="display: none"></i></li>
	<div class="responses m-4" style="display: block">
		
	</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
<script>
	window.getResults();
</script>
</html>