<!DOCTYPE html>
<html>
<head>
	<title>SubmitSurveyResponse</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<div class="local-container-4">
	<h1>SubmitSurveyResponse</h1>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>