<!DOCTYPE html>
<html>
<head>
	<title>SubmitSurveyResponse</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<div class="local-container-4">
	<!-- <h1>SubmitSurveyResponse</h1> -->
	<div class="desc local-card local-mt-2 local-p-2">
		<h2 clas="text-left">A questions about programming!!!</h2>
		<p clas="text-left">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
	</div>
	<div class="local-card local-mt-2 local-p-2">
		<p>How many programming languages you know?</p>
		<div class="options-area">
			<select class="form-control question-inputs">
				<option value='' default disabled >Select one</option>
				<option value=''>1</option>
				<option value=''>2</option>
				<option value=''>3</option>
				<option value=''>4</option>
				<option value=''>5</option>
			</select>
		</div>
	</div>
	<div class="local-card local-mt-2 local-p-2">
		<p>How many programming languages you know?</p>
		<div class="options-area">
			<select class="form-control question-inputs">
				<option value='' default disabled >Select one</option>
				<option value=''>1</option>
				<option value=''>2</option>
				<option value=''>3</option>
				<option value=''>4</option>
				<option value=''>5</option>
			</select>
		</div>
	</div>
	<div class="local-card local-mt-2 local-p-2">
		<p>How many programming languages you know?</p>
		<div class="options-area">
			<select class="form-control question-inputs">
				<option value='' default disabled >Select one</option>
				<option value=''>1</option>
				<option value=''>2</option>
				<option value=''>3</option>
				<option value=''>4</option>
				<option value=''>5</option>
			</select>
		</div>
	</div>
	<div class="local-card local-mt-2 local-p-2">
		<p>How many programming languages you know?</p>
		<div class="options-area">
			<select class="form-control question-inputs">
				<option value='' default disabled >Select one</option>
				<option value=''>1</option>
				<option value=''>2</option>
				<option value=''>3</option>
				<option value=''>4</option>
				<option value=''>5</option>
			</select>
		</div>
	</div>
	<div class="local-card local-mt-2 local-p-2">
		<p>How many programming languages you know?</p>
		<div class="options-area">
			<select class="form-control question-inputs">
				<option value='' default disabled >Select one</option>
				<option value=''>1</option>
				<option value=''>2</option>
				<option value=''>3</option>
				<option value=''>4</option>
				<option value=''>5</option>
			</select>
		</div>
	</div>
	<div class="local-card local-mt-2 local-p-2">
		<p>How many programming languages you know?</p>
		<div class="options-area">
			<select class="form-control question-inputs">
				<option value='' default disabled >Select one</option>
				<option value=''>1</option>
				<option value=''>2</option>
				<option value=''>3</option>
				<option value=''>4</option>
				<option value=''>5</option>
			</select>
		</div>
	</div>
	<div class="local-card local-mt-2 local-p-2">
		<p>How many programming languages you know?</p>
		<div class="options-area">
			<select class="form-control question-inputs">
				<option value='' default disabled >Select one</option>
				<option value=''>1</option>
				<option value=''>2</option>
				<option value=''>3</option>
				<option value=''>4</option>
				<option value=''>5</option>
			</select>
		</div>
	</div>
	<button class='float-right local-btn local-mt-2 local-mb-2 local-btn-primary'>Submit</button>

</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
