<!DOCTYPE html>
<html>
<head>
	<title>Survey Editor</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<%- include('.././partials/HeaderElement') %>
<div class="mt-4 mb-4 local-container-8">
	<ul class="list-group list-group-horizontal-sm">
	  <li style="cursor:pointer;" class="list-group-item edit-tab active">Edit</li>
	  <li style="cursor:pointer;" class="list-group-item responses-tab">Responses</li>
	</ul>
	<!-- <h1>Survey Editor</h1> -->
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<div class="survey-editor">
		<div class="survey-editor-preview">
			<!-- Description Place -->
			<!-- Description Place -->
			<div class="desc local-card local-mt-4 local-p-2 shadow">
				<h2 clas="text-left">A questions about programming!!!</h2>
				<p clas="text-left">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
			</div>
			<!-- Single Question -->
			<!-- Single Question -->
			<div class="single-question local-card local-mt-2 local-p-2 shadow" draggable='true'>
				<!-- Dragable section -->
				<div class="dragable">
					<div></div><div></div><div></div>
					<div></div><div></div><div></div>
				</div>
				<!-- Quetsion or title -->
				<input class="form-control mt-2" value='How many programminG languages you know?'>
				<!-- Files inputs -->
				<div class="custom-file files-attachment">
					<input type="file" class="custom-file-input" id="validatedCustomFile" required>
					<label class="custom-file-label" for="validatedCustomFile" multiple>Choose files...</label>
					<div class="invalid-feedback">Example invalid custom file feedback</div>
				</div>
				<!-- Options -->
				<div class="options-area">
					<ul class="options-list">
						<li class="option-item">
							<input type="text" placeholder="Option" class="form-control">
							<i class="delete-option fas fa-times"></i>
						</li>
						<li class="option-item">
							<input type="text" placeholder="Option" class="form-control">
							<i class="delete-option fas fa-times"></i>
						</li>
						<p class="add-new-option p-2">Add new one +</p>
					</ul>
				</div>
				<!-- Settings -->
			</div>
			<!-- Single Question -->
			<!-- Single Question -->
			<div class="single-question local-card local-mt-2 local-p-2 shadow" draggable='true'>
				<!-- Dragable section -->
				<div class="dragable">
					<div></div><div></div><div></div>
					<div></div><div></div><div></div>
				</div>
				<!-- Quetsion or title -->
				<input class="form-control mt-2" value='How many programminG languages you know?'>
				<!-- Files inputs -->
				<div class="custom-file files-attachment">
					<input type="file" class="custom-file-input" id="validatedCustomFile" required>
					<label class="custom-file-label" for="validatedCustomFile" multiple>Choose files...</label>
					<div class="invalid-feedback">Example invalid custom file feedback</div>
				</div>
				<!-- Options -->
				<div class="options-area">
					<ul class="options-list">
						<li class="option-item">
							<input type="text" placeholder="Option" class="form-control">
							<i class="delete-option fas fa-times"></i>
						</li>
						<li class="option-item">
							<input type="text" placeholder="Option" class="form-control">
							<i class="delete-option fas fa-times"></i>
						</li>
						<p class="add-new-option p-2">Add new one +</p>
					</ul>
				</div>
				<!-- Settings -->
			</div>
			<!-- Single Question -->
			<!-- Single Question -->
			<div class="single-question local-card local-mt-2 local-p-2 shadow" draggable='true'>
				<!-- Dragable section -->
				<div class="dragable">
					<div></div><div></div><div></div>
					<div></div><div></div><div></div>
				</div>
				<!-- Quetsion or title -->
				<input class="form-control mt-2" value='How many programminG languages you know?'>
				<!-- Files inputs -->
				<div class="custom-file files-attachment">
					<input type="file" class="custom-file-input" id="validatedCustomFile" required>
					<label class="custom-file-label" for="validatedCustomFile" multiple>Choose files...</label>
					<div class="invalid-feedback">Example invalid custom file feedback</div>
				</div>
				<!-- Options -->
				<div class="options-area">
					<ul class="options-list">
						<li class="option-item">
							<input type="text" placeholder="Option" class="form-control">
							<i class="delete-option fas fa-times"></i>
						</li>
						<li class="option-item">
							<input type="text" placeholder="Option" class="form-control">
							<i class="delete-option fas fa-times"></i>
						</li>
						<p class="add-new-option p-2">Add new one +</p>
					</ul>
				</div>
				<!-- Settings -->
			</div>
			<button class="local-btn local-btn-primary local-mt-2 local-mb-2 float-right">Save Changes</button>
		</div>
		<div class="survey-editor-tools">
			<div class="tools-panel local-mt-4 local-shadow local-p-2">
				<ul class="tools-list">
					<li>
						<i data-toggle="tooltip" data-placement="left" title="Add new field" class="fas fa-plus"></i>
					</li>
					<li type="button" data-toggle="modal" data-target="#importModal">
						<i data-toggle="tooltip" data-placement="left" title="Import another survey questions" class="fas fa-file-import"></i>
					</li>
					<li type="button" data-toggle="modal" data-target="#shareMethodsModal">
						<i data-toggle="tooltip" data-placement="left" title="Share this survey" class="fas fa-share-square"></i>
					</li>
					<li type="button">
						<i data-toggle="tooltip" data-placement="left" title="Share this survey" class="fas fa-file-download"></i>
					</li>
				</ul>
			</div>
		</div>
		<!-- shareMethodsModal -->
		<div class="modal fade" id="shareMethodsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Share your survey</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="local-btn local-btn-dark" data-dismiss="modal">Close</button>
		        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
		      </div>
		    </div>
		  </div>
		</div>
		<!-- importModal -->
		<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Import another questions</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="local-btn local-btn-dark" data-dismiss="modal">Close</button>
		        <button type="button" class="local-btn local-btn-primary">Import</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<div class="responses">
		<div class='local-card local-mt-4 local-mb-2 local-pt-4 local-pb-4 local-shadow'>
			<h4 class="">This is an example of a card!</h4>
			<p class="">This is an example of an card! This is an example of an card! This is an example of an card! This is an example of an card!</p>
			<div class="chart-area">
				<canvas id="canvas"></canvas>
			</div>
		</div>
		<div class='local-card local-mt-2 local-mb-2 local-pt-4 local-pb-4 local-shadow'>
			<h4 class="">This is an example of a card!</h4>
			<p class="">This is an example of an card! This is an example of an card! This is an example of an card! This is an example of an card!</p>
			<div class="chart-area">
				<canvas id="canvas"></canvas>
			</div>
		</div>
		<div class='local-card local-mt-2 local-mb-2 local-pt-4 local-pb-4 local-shadow'>
			<h4 class="">This is an example of a card!</h4>
			<p class="">This is an example of an card! This is an example of an card! This is an example of an card! This is an example of an card!</p>
			<div class="chart-area">
				<canvas id="canvas"></canvas>
			</div>
		</div>
		<div class='local-card local-mt-2 local-mb-2 local-pt-4 local-pb-4 local-shadow'>
			<h4 class="">This is an example of a card!</h4>
			<p class="">This is an example of an card! This is an example of an card! This is an example of an card! This is an example of an card!</p>
			<div class="chart-area">
				<canvas id="canvas"></canvas>
			</div>
		</div>
	</div>
</div>
<style>
	.options-list {
		list-style: none;
		padding-left: 0!important;
	}
	.option-item, .files-attachment {
		margin-top:5px;
	}
	.option-item {
		display: inline-flex!important;
	}
	.add-new-option {
		font-size:13px;
		width: 50%;
		cursor: pointer;
		transition: all .2 ease-out;
	}
	.add-new-option:hover {
		background-color: rgba(0,0,0,.1);
	}
	.delete-option {
		transition: all .2 ease-out;
		border-radius: 40%;	
		cursor: pointer;
		padding: 8px;
	}
	.delete-option:hover {
		background-color: rgba(0,0,0,.1);
	}
	.dragable {
		display: grid;
		grid-gap: 2px;
		grid-template-columns: 3px 3px 3px;
		width: 30px;
		height: 10px;
		margin: 0 auto;
		cursor: move;
	}
	.dragable div {
		background-color: rgba(0,0,0,.3);
	}
	.single-question {
		border: 2px solid rgba(0,0,0,0);
	}
	.hovered {
		border: 2px solid rgba(0,0,0,.9);
	}
	.replace {
		border: 2px solid rgba(0,0,0,.7);
		background-color: rgba(0,0,0,.1);		
	}
	.dragging {
		
	}
</style>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
<script>
	const edit_tab = document.querySelector('.edit-tab')
	const responses_tab = document.querySelector('.responses-tab')
	 edit_tab.addEventListener('click',()=>{
	 	document.querySelector('.survey-editor').style.display = '';
	 	document.querySelector('.responses').style.display = 'none';
	 	edit_tab.classList.add('active');
	 	responses_tab.classList.remove('active');
	 })
	 responses_tab.addEventListener('click',()=>{
	 	document.querySelector('.survey-editor').style.display = 'none';
	 	document.querySelector('.responses').style.display = 'block';
	 	responses_tab.classList.add('active');
	 	edit_tab.classList.remove('active');
	 })

	 const single_question = document.querySelectorAll('.single-question');
	 // for (var i = 0; i < single_question.length; i++) {
	 // 	single_question[i].addEventListener('dragstart',()=>{
		//  	// alert('Hello World')
		//  	single_question[i].classList.add('hovered');
		// })
	 // }
	 single_question.forEach((single)=>{
	 	single.addEventListener('dragstart',(e)=>{
	 		// e.preventDefault();
	 		console.log(e)
		 	// alert('Hello World')
		 	single.classList.add('hovered');
		})
		single.addEventListener('dragend',(e)=>{
			// e.preventDefault();
			console.log(e)
		 	// alert('Hello World')
		 	single.classList.remove('hovered');
		})
		single.addEventListener('dragover',(e)=>{
			// e.preventDefault();
			console.log(e)
		 	// alert('Hello World')
		 	single.classList.add('replace');
		})
		single.addEventListener('dragleave',(e)=>{
			// e.preventDefault();
			console.log(e)
		 	// alert('Hello World')
		 	single.classList.remove('replace');
		})

	 })
</script>

<!-- important
% if
% 	guard ->
% 		body
% end -->