<!DOCTYPE html>
<html>
<head>
	<title>Survey Editor</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body style="">
<%- include('.././partials/HeaderElement') %>
<div class="mt-4 mb-4 local-container-8">
	<ul class="list-group list-group-horizontal-sm">
	  <li style="cursor:pointer;" class="list-group-item edit-tab active">Edit</li>
	  <li style="cursor:pointer;" class="list-group-item responses-tab">Responses</li>
	</ul>
	<!-- <h1>Survey Editor</h1> -->
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<div class="survey-editor">
		<div class="survey-editor-preview">
			<!-- Description Place -->
			<!-- Description Place -->
			<div class="desc local-card local-mt-4 local-p-2 local-shadow">
				<h2 clas="text-left">A questions about programming!!!</h2>
				<p clas="text-left">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
			</div>
			<div class="questions_list">
				<!-- Single Question -->
				<!-- Single Question -->
				<div class="single-question local-card local-mt-2 local-p-2 local-shadow" draggable='true'>
					<!-- Dragable section -->
					<div class="dragable">
						<div></div><div></div><div></div>
						<div></div><div></div><div></div>
					</div>
					<!-- Quetsion or title -->
					<input class="form-control mt-2" placeholder='Which question you wanna write here?' required>
					<!-- Files inputs -->
					<div class="custom-file files-attachment">
						<input type="file" class="custom-file-input" id="validatedCustomFile" required>
						<label class="custom-file-label" for="validatedCustomFile" multiple>Choose files...</label>
						<div class="invalid-feedback">Example invalid custom file feedback</div>
					</div>
					<!-- Options -->
					<div class="options-area">
						<ul class="options-list">
							<li class="option-item">
								<input type="text" placeholder="Option" class="form-control" required>
								<i onclick="deleteOption(event)" class="delete-option fas fa-times"></i>
							</li>
							<li class="option-item">
								<input type="text" placeholder="Option" class="form-control" required>
								<i onclick="deleteOption(event)" class="delete-option fas fa-times"></i>
							</li>
						</ul>
						<p class="add-new-option p-2">Add new one +</p>
					</div>
					<!-- Settings -->
					<div class="question_settings p-2">
						<i onclick="deleteField(event)" style="display: inline" class="delete-field mx-2 far fa-trash-alt"></i>
						<select style="display: inline;width: 180px;" class='mx-2 form-control'>
							<option>Multipe Choice</option>
							<option>One Choice</option>
							<option>Short paragraph</option>
						</select>
					</div>
				</div>
			</div>
			<button class="local-btn local-btn-primary local-mt-2 local-mb-2 float-right btn-save-changes">Save Changes</button>
		</div>
		<div class="survey-editor-tools">
			<div class="tools-panel local-mt-4  local-shadow local-p-2">
				<ul class="tools-list">
					<li class="add_new_field">
						<i data-toggle="tooltip" data-placement="left" title="Add new field" class="fas fa-plus"></i>
					</li>
					<li type="button" data-toggle="modal" data-target="#importModal">
						<i data-toggle="tooltip" data-placement="left" title="Import another survey questions" class="fas fa-file-import"></i>
					</li>
					<li type="button" data-toggle="modal" data-target="#shareMethodsModal">
						<i data-toggle="tooltip" data-placement="left" title="Share this survey" class="fas fa-share-square"></i>
					</li>
					<li type="button">
						<i data-toggle="tooltip" data-placement="left" title="Share this survey" class="fas fa-file-download"></i>
					</li>
				</ul>
			</div>
		</div>
		<!-- shareMethodsModal -->
		<div class="modal fade" id="shareMethodsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Share your survey</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="local-btn local-btn-dark" data-dismiss="modal">Close</button>
		        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
		      </div>
		    </div>
		  </div>
		</div>
		<!-- importModal -->
		<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Import another questions</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="local-btn local-btn-dark" data-dismiss="modal">Close</button>
		        <button type="button" class="local-btn local-btn-primary">Import</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<!-- ---------------------------------------------------------- -->
	<div class="responses">
		<div class='local-card local-mt-4 local-mb-2 local-pt-4 local-pb-4 local-shadow'>
			<h4 class="">This is an example of a card!</h4>
			<p class="">This is an example of an card! This is an example of an card! This is an example of an card! This is an example of an card!</p>
			<div class="chart-area">
				<canvas id="canvas"></canvas>
			</div>
		</div>
		<div class='local-card local-mt-2 local-mb-2 local-pt-4 local-pb-4 local-shadow'>
			<h4 class="">This is an example of a card!</h4>
			<p class="">This is an example of an card! This is an example of an card! This is an example of an card! This is an example of an card!</p>
			<div class="chart-area">
				<canvas id="canvas"></canvas>
			</div>
		</div>
		<div class='local-card local-mt-2 local-mb-2 local-pt-4 local-pb-4 local-shadow'>
			<h4 class="">This is an example of a card!</h4>
			<p class="">This is an example of an card! This is an example of an card! This is an example of an card! This is an example of an card!</p>
			<div class="chart-area">
				<canvas id="canvas"></canvas>
			</div>
		</div>
		<div class='local-card local-mt-2 local-mb-2 local-pt-4 local-pb-4 local-shadow'>
			<h4 class="">This is an example of a card!</h4>
			<p class="">This is an example of an card! This is an example of an card! This is an example of an card! This is an example of an card!</p>
			<div class="chart-area">
				<canvas id="canvas"></canvas>
			</div>
		</div>
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
<script>

//  Delete option 
function deleteOption(event){
	event.path[1]/*.parentNode*/.remove();
}

// Delete field
function deleteField(event){
	event.path[2]/*.parentNode*/.remove();
}
	
</script>

<!-- important
% if
% 	guard ->
% 		body
% end -->