<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<%- include('.././partials/chineseHeaderElement') %>
<div class="local-container-8">
	<!-- <h1 class="mt-4">Dashboard</h1> -->
	<div class="row mt-4">
	<!-- Side bar -->
	  <div class="col-3">
	    <div class="list-group" id="list-tab" role="tablist">
	      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">您的调查</a>
	      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">你的帐户</a>
	      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">设定</a>
	    </div>
	  </div>
	  <div class="col-9">
	  	<!-- alert messages -->
	  	<!-- <div class="local-alert info local-mb-2">
	  		Provide us your email ! ! !
	  	</div> -->
	  	<!-- tabs section -->
	    <div class="tab-content" id="nav-tabContent">
	    <!-- Surveys tab -->
	      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
	      	<h3 class="text-left local-mb-4">您的调查</h3>
	      	<table class="table table-hover">
			  <thead style="background-color:rgba(0,0,0,.1)">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">First</th>
			      <th scope="col">Last</th>
			      <th scope="col">Handle</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">1</th>
			      <td>Mark</td>
			      <td>Otto</td>
			      <td>@mdo</td>
			    </tr>
			    <tr>
			      <th scope="row">2</th>
			      <td>Jacob</td>
			      <td>Thornton</td>
			      <td>@fat</td>
			    </tr>
			    <tr>
			      <th scope="row">3</th>
			      <td colspan="2">Larry the Bird</td>
			      <td>@twitter</td>
			    </tr>
			   <!--  <tr>
			      <th scope="row">4</th>
			      <td colspan="2">Larry the Bird</td>
			      <td>@twitter</td>
			    </tr>
			    <tr>
			      <th scope="row">5</th>
			      <td colspan="2">Larry the Bird</td>
			      <td>@twitter</td>
			    </tr> -->
			    <tr style="background-color:rgba(0,0,0,.20);cursor: pointer">
			      <td colspan="2">建立新的问卷调查+</td>
			      <td></td>
			      <td></td>
			    </tr>
			  </tbody>
			</table>
	      </div>
	      <!-- user account -->
	      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
	      	<h3 class="text-left local-mb-4">你的帐户</h3>
	      	<img src="https://avatars3.githubusercontent.com/u/50294614?v=4" class="logo-of-user local-mb-4" width="200" height="200">
	      	<input type="text" name="name" class='form-control user-profile-inputs local-mb-2' value="mouadTaoussi">
	      	<input type="text" name="name" class='form-control user-profile-inputs local-mb-2' value="mouadTaoussi">
	      	<input type="text" name="name" class='form-control user-profile-inputs local-mb-2' value="mouadTaoussi">
	      	<input type="text" name="name" class='form-control user-profile-inputs local-mb-2' value="mouadTaoussi">
	      	<input type="text" name="name" class='form-control user-profile-inputs local-mb-2' value="mouadTaoussi">
	      	<button class="local-btn local-btn-success">Update</button>
	      </div>
	      <!-- settings  -->
	      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
	      	<h3 class="text-left local-mb-4">Settings</h3>
	      </div>
	    </div>
	  </div>
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>