<!DOCTYPE html>
<html>
<head>
	<title>SurveyApp | 文件</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body style='background-color: white;'>
	<!-- <h1>it works!</h1> -->
	<%-   include('.././partials/chineseHomePage&PrivacyHeader')   %>
	<!-- ----------------------------- Privacy && Policy ----------------------------- -->
	<div class="local-container-4 privacy">
		<h1 style='padding-top: 150px;'><strong class="local-text-black">API reference</strong></h1>
			<!-- --------------------------------------------- -->
			<h6>This page explains how to get started with SurveyApp API v1, and deal with it</h6>
			<strong>This is not a public API! so you need to create an accound or log in if you already have one.</strong>
			<h5 class="local-text-black">Get started</h5>
			<h6>First off you have to get an API KEY at <STRONG>Log in > Dashboard > Settings > Your API key</STRONG></h6>
			<p>

			</p>
			<br>
			<br>
			<!-- --------------------------------------------- -->
			<!-- <h5 class="local-text-black">What we collect about you?</h5>
			<p>
				
			</p>
			<br>
			<br> -->
			<!-- --------------------------------------------- -->
			<!-- <h5 class="local-text-black">What we collect about you?</h5>
			<p>

			</p>
			<br>
			<br> -->
			<!-- <div class="empty-content"></div>
			<p>we are commiting to make it released in a few days!</p> -->
	</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
<style>
	
</style>