<!DOCTYPE html>
<html>
<head>
	<title>Survey App | Home Page</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
	<!-- <h1>it works!</h1> -->
	<header class="landing-page-header">
		<div class="local-container-8 header-grid">
			<div class="header-brand"></div>
			<ul class="header-list">
				<li class="header-list-item">
					<button class="local-btn" id="languageDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">中文<i class="fas fa-chevron-down mx-2"></i></button>
					<div class="dropdown-menu" aria-labelledby="languageDropDown">
						<a class="dropdown-item" href="/?lang=kr">한국어</a>
						<a class="dropdown-item" href="/">English</a>
					</div>
				</li>
				<li class="header-list-item"><a href="/login?lang=cn"><button class="local-btn local-btn-primary">开始使用</button></a></li>
				<li class="header-list-item"><a href="/login?lang=cn"><button class="local-btn">登录</button></a></li>
				<li class="header-list-item"><a href="/register?lang=cn"><button class="local-btn">寄存器</button></a></li>
				<li class="header-list-item"><a href="/?lang=cn"><button class="local-btn">这个怎么运作？</button></a></li>
			</ul>
		</div>
	</header>
	<div class="landing-page">
		<div class="content local-container-8">
			<div class="text-area">
				<h1 style='font-size: 60px;'><strong class="title">发现您的观众的强项！</strong></h1>
				<p class="description">
					洛雷姆·伊普苏姆·多洛尔（Lorem ipsum dolor）坐立不安，献身奉献高贵，节制的生活和活力，使劳动和悲伤成为eiusmod做的一些重要事情。多年来，我将全力以赴，奉献高尚，温柔的生活和活力，使工作和悲伤成为eiusmod要做的一些重要事情。这些年来，我会来的，
				</p>
				<a href="/?lang=cn"><button class='local-btn cta-btn local-btn-primary'>开始使用</button></a>
				<a href="/?lang=cn"><button class='local-btn cta-btn local-btn-dark'>学到更多</button></a>
			</div>
			<div class="show-app"></div>
		</div>
	</div>
	<div class="second-landing-page"></div>
	<div class="third-landing-page"></div>
	<div class="tourth-landing-page"></div>
	<footer class="landing-page-footer">
		<div class="local-container-8"></div>
	</footer>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
<style>
</style>