<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body>
<!-- <%- include('.././partials/chineseHeaderElement') %> -->
<div class="">

	<div class='forms-logo'></div>

	<div class="register local-card shadow">
		<h1 class='title local-mb-8'>寄存器</h1>
		<!-- <div class='local-alert danger'>Email already exists!!!</div> -->
		<form action="/auth/register" method="POST">
			<input type="text" name="firstName" class="form-control local-mt-2" placeholder="输入您的名字">
			<input type="text" name="givenName" class="form-control local-mt-2" placeholder="输入您的姓氏">
			<input type="text" name="username" class="form-control local-mt-2" placeholder="输入你的用户名">
			<input type="email" name="email" class="form-control local-mt-2" placeholder="“输入您的电子邮件">
			<input type="password" name="password" class="form-control local-mt-2" placeholder="输入密码">
			<input type="password" name="password2" class="form-control local-mt-2" placeholder="确认你的密码">
			<button class="local-btn register-btn local-mt-2 local-btn-primary">寄存器</button>
		</form>
		<a href='/login?lang=cn' class="mt-2 links">已经有一个帐户？</a>
		<p class="text-center">要么：</p>
		<a href='/auth/google'>
			<button class="local-btn local-mt-2 google-btn"><i class="fab fa-google mr-2 text-white"></i>使用Google登录</button>
		</a>
		<a href="/auth/github">
			<button class="local-btn local-mt-2 github-btn"><i class="fab fa-github mr-2 text-white"></i>使用Github登录</button>
		</a>
		<a href='/auth/linkedin'>
			<button class="local-btn local-mt-2 linkedin-btn"><i class="fab fa-linkedin mr-2 text-white"></i>使用领英账户登录</button>
		</a>
	</div>
	<center>
		<ul class="footer-list local-mt-4">
			<li class='footer-list-item'>服务条款</li>
			<li class='footer-list-item'>隐私政策</li>
			<li class='footer-list-item'>这个怎么运作？</li>
		</ul>
	</center>
	<div class="svgs">
		<div class="svg svg-one"></div>
		<div class="svg svg-second"></div>
	</div>
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>
<!-- /*no*/ -->