<!DOCTYPE html>
<html>
<head>
	<title>调查编辑</title>
	<%-   include('.././partials/HeadTags')   %>
</head>
<body style="">
<%- include('.././partials/chineseHeaderElement',{avatar:user.avatar}) %>
<div class="mt-4 mb-4 local-container-8">
	
</div>
</body>
<%-   include('.././partials/ScriptTags')   %>
</html>

<!-- important
% if
% 	guard ->
% 		body
% end -->